table {
    font-family: 'Lato', sans-serif;
    color: #202020;
    background-color: antiquewhite;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    overflow: hidden;
  }
  table td, table th {
    border-top: 1px solid #ECF0F1;
    padding: 10px;
  }
  table td {
    border-left: 1px solid #ECF0F1;
    border-right: 1px solid #ECF0F1;
  }
  table th {
    background-color: #4ECDC4;
  }
  table tr:nth-of-type(even) td {
    background-color: #d9f4f2;
  }